<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Bulls And Cows</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
  </head>
  <body ng-app="BullsAndCows">
    <a class="btn btn-success" href="#/">Home</a>
    <a class="btn btn-success" href="#/games/create">Create Game</a>
    <a class="btn btn-success" href="#/users/register">Register</a>
    <div ng-view class="container"></div>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services/user-service.js"></script>
    <script src="app/controllers/create-game-controller.js"></script>
    <script src="app/controllers/register-user-controller.js"></script>
  </body>
</html>
