<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bulls And Cows</title>
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="BullsAndCows">
<nav class="navbar navbar-inverse">
  <div class="container-fluid row">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/games/create">Create Game <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-nav-right">
        <li class="active"><a href="#/users/register">Register <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="#/users/login">Login <span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<div ng-view class="container"></div>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="app/app.js"></script>
<script src="app/services/user-service.js"></script>
<script src="app/controllers/create-game-controller.js"></script>
<script src="app/controllers/register-user-controller.js"></script>
<script src="app/controllers/login-user-controller.js"></script>
</body>
</html>
